:root {
  --main-bg-color: #fdfdfe;
  --sec-bg-color: #191a1d;
  --dark: #222327;
  --dark-super: #18181b;
  --main-color: #111;
  --sec-color: #eeeeee;
  /* --ac-color: #3962ba; */
  --ac-color: #0069d9;
  --ac-color-light: #6cbdff;
  --ac-color-dark: #1b62e7;
}
