:root {
  --main-bg-color: #f3f4f7;
  --sec-bg-color: #191e25;
  --ac-bg-light-color: linear-gradient(to right, #c99c32 0%, #bb8029 100%);
  --ac-bg-dark-color: linear-gradient(to right, #e4a91f 0%, #d68813 100%);
  --dark: #222327;
  --dark-super: #18181b;
  --main-color: #222222;
  --sec-color: #eeeeee;
  --ac-color: #30b3f5;
  --ac-color-light: #6cbdff;
  --ac-color-dark: #1b62e7;
}
