.darkBackground {
  background-color: #24262d;
  border-color: #ffb037;
}

.yellowText {
  color: #ffb037;
  border-color: #ffb037;
}

.lightGrayText {
  color: #eee;
}

/* input.darkTheme,
textarea.darkTheme, */

/* input.form-control,
textarea.form-control {
  border-radius: 0;
  border: 1px solid #eee5;
  color: #eee;
  background: #f1eadf;
} */

.maincontent.darkTheme input,
.maincontent.darkTheme textarea,
.maincontent.darkTheme .multiselect__tags,
.maincontent.darkTheme .multiselect__input,
.maincontent.darkTheme .multiselect__single,
.maincontent.darkTheme .multiselect__option {
  background: #2d3436 !important;
  color: #eee !important;
  border: 0;
  /* border-radius: 0; */
}

.maincontent.darkTheme input,
.maincontent.darkTheme textarea,
.maincontent.darkTheme .multiselect__tags,
.maincontent.darkTheme .multiselect__option {
  border: 1px solid #eee5 !important;
}

.maincontent.darkTheme .multiselect__input::placeholder,
.maincontent.darkTheme .multiselect__single::placeholder {
  color: #999 !important;
}

.maincontent.darkTheme input:hover,
.maincontent.darkTheme textarea:hover,
.maincontent.darkTheme .multiselect__tags:hover {
  border: 1px solid #ffd391 !important;
}

.maincontent.darkTheme input:focus,
.maincontent.darkTheme textarea:focus,
.maincontent.darkTheme .multiselect__tags:focus,
.multiselect__input,
.multiselect__single:focus {
  background: #2d3436;
  color: #fff;
}

/* .darkTheme *{
  background: #2d3436;
  border: 0;
} */

input.darkTheme::placeholder {
  color: #888;
  /* color: #ffb037; */
}

.form-control.darkTheme:focus {
  border-color: #ffb037;
  box-shadow: none;
  color: #eee;
}

.form-control.darkTheme:focus::placeholder {
  color: #ffb037;
}

.btn-outline-secondary:focus,
.btn-outline-secondary:hover {
  background-color: #ffb037;
  border-color: #ffb037;
  color: #2d3436;
  box-shadow: none;
}

.btn-outline-secondary:active {
  background-color: #2d3436 !important;
  border-color: #2d3436 !important;
  color: #ffb037 !important;
  box-shadow: none !important;
}

.top_padding {
  padding-top: 30px;
}
