 /* TABLE */

 .item-list {
   width: 100%;
   flex: 1 0px;
   overflow-x: hidden;
   margin: 0 0 10px 0;
   /* border: 1px solid #77777740 !important; */
 }

 .darkTheme .item-list {
   /* border: 1px solid #dee2e640 !important; */
 }

 .item-list table {
   padding: 0;
   width: 100%;
 }

 /* THEAD */

 .item-list thead th {
   border-bottom: none !important;
   /* font-weight: normal; */
 }

 .item-list thead tr {
   /* border-bottom: 2px solid #dee2e6a1; */
   background: white;
   color: #222;
 }

 .darkTheme .item-list thead tr {
   /* border-bottom: 2px solid #dee2e633; */
   background: #191b1d;
   color: #eee;
 }

 /* TBODY */

 .darkTheme .item-list tbody tr:nth-child(even) {
   background-color: #0000001f;
 }

 .item-list td,
 .item-list th {
   /* border: 0; */
   height: 100%;
   padding: 0 7px !important;
 }

 /* .item-list td:first-child,
 .item-list th:first-child {
   border-left: none;
 }

 .item-list td:last-child,
 .item-list th:last-child {
   border-right: none;
 } */

 .item-list tr {
   line-height: 30px;
 }

 .flex-td {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .item-list tbody tr:hover {
   color: #504e40;
   background: #56565652 !important;
 }

 .darkTheme .item-list tbody tr:hover {
   color: #ffffff;
   background: #67676752 !important;
 }

 .item-list tbody tr:active,
 .item-list tbody tr:focus {
   text-decoration: none;
   background: rgba(128, 128, 128, 0.2);
 }

 .item-list tbody tr:nth-child(even) {
   background-color: #bbbbbb17;
 }

 .item-list tbody tr.active {
   border-left: 6px solid var(--ac-color);
   color: var(--ac-color);
 }

 .td-flex {
   flex: 1;
 }

 .item-list tr>input {
   /* flex: 1; */
   line-height: initial;
 }

 .td-icons {
   cursor: pointer;
   font-size: 15px;
 }

 .td-purple {
   color: #bf6cd6;
 }

 .td-green {
   color: #28a745;
 }

 .td-blue {
   color: var(--ac-color);
 }

 .td-red {
   color: #dc3545;
 }

 .td-yellow {
   color: #dbb647;
 }

 .td-orange {
   color: #c37a3e
 }
