 .item-list {
   width: 100%;
  flex: 1 0px; 
  overflow-x: hidden;
  margin: 0 0 10px 0;
}

.item-list>table {
  padding: 0;
  width: 100%;
}

.item-list thead tr {
  border-radius: 10px 10px 0 0;
  background: var(--ac-bg-light-color);
  color: #222;
}

/* .item-list th:not(:first-child) {
  border-left: 1px solid #00000077;
} */

.item-list td,
.item-list th {
  height: 100%;
  padding: 0 7px;
}

.item-list td:first-child,
.item-list th:first-child {
  border-left: none;
}

.item-list td:last-child,
.item-list th:last-child {
  border-right: none;
}

.item-list tr {
  /* display: flex; */
  line-height: 30px;
}

.item-list tbody tr:hover {
  text-decoration: none;
  color: #ffc107;
  background: #545454fa !important;
}

.item-list tbody tr:active,
.item-list tbody tr:focus {
  text-decoration: none;
  background: rgba(128, 128, 128, 0.2);
}

.item-list tbody tr:nth-child(even) {
  background-color: #69696917;
}

.item-list tbody tr.active {
  border-left: 3px solid #ffc107;
  background-color: #1d1d1d;
}

.td-flex {
  flex: 1;
}

.item-list tr>input {
  /* flex: 1; */
  line-height: initial;
}

.td-icons {
  cursor: pointer;
  font-size: 15px;
} 
