/* COLLAPSED START */

.sidebar-content.collapsed {
  width: 0;
  min-width: 0;
  max-width: 0;
}

.sidebar-content.collapsed * {
  display: none;
}

/* COLLAPSED END */

/* SIDEBAR CONTENT */

.sidebar-content {
  min-width: 330px;
  max-width: 330px;
  background: #24262d;
  transition: all 0.5s ease;
  flex-direction: column;
  display: flex;
  width: 100%;
}

/* SIDEBAR HEADER */

.sidebar-header {
  display: flex;
  justify-content: space-around;
  background: #5a5a5a66;
  padding: 5px 5px 3px;
  font-size: 18px;
  text-align: center;
  width: 100%;
}

.sidebar-header * {
  color: #fff;
}

.sidebar-header a .oi {
  margin-left: 10px;
}

.sidebar-header>span {
  cursor: pointer;
}
